.textcard-content{
    letter-spacing: 1.75px!important;
    font-size: 1.4em!important;
    text-align: justify;
    color:#000000be!important;
}

.small-text{
    font-size: 1.0em!important;
    letter-spacing: 0.5px!important;
    color:#000000b7!important;
}